entrypoint = "main.py"
modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 2006
externalPort = 80

[[ports]]
localPort = 4290
externalPort = 5000

[[ports]]
localPort = 4479
externalPort = 3003

[[ports]]
localPort = 6297
externalPort = 3000

[[ports]]
localPort = 7020
externalPort = 4200

[[ports]]
localPort = 8609
externalPort = 3002

[[ports]]
localPort = 8684
externalPort = 3001
