* {
    box-sizing: border-box
}

body {
    background-repeat: repeat;
    background-image: url("background.png");
    backdrop-filter: blur(8px);
    background-size: 60%;
    padding: 30px;
    height: 100%;
    min-height: 100%
}

.list-group-item:not(#adder) {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    /* height: 230px; */
    cursor: move; 
}

.num {
    display: flex;
    flex-flow: column wrap;
    width: 20%;
}

.num p {
    font-size: 8cqmin;
}

.num > div {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.num > div > input {
    width:10px;
    flex: content;
}

.num > div > label{
    flex: auto;
    display: table-cell;
    vertical-align: middle;
    font-size: 150%;
}

.config-container {
    width: 70%;
    height: 250px;
    display: flex;
    flex-flow: row wrap;
}

.config-container > div {
    width: 50%;
}

h1, h2 {
    text-align: center;
}

#adder {
    size: 100%;
    opacity: 0.5;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-flow: row wrap;
}

#adder > * {
    font-size: 200%;
    width:50%;
    margin: 0px 0px;
    padding: 0px;
    display:block;
}

img {
    float: center;
    max-width: 70%;
    max-height: 70%;
}
