<!DOCTYPE html>
<html>
    <head>
      <title>Géograph - France</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
      <h1>Géo<i>graph</i> - France - Tableau de configuration</h1>
        <p>&nbsp;Pour ajouter des données à afficher sur la carte interactive, cliquez sur le bouton "+" ci-dessous. Pour configurer l'affichage, remplissez les champls requis (titre du graphique, titre global, couleur, etc...). Enfin, cliquez sur le bouton générer pour voir le résultat (vous serez amené sur une autre page).<br>
        </p>
        <form action="/carte" target="_blank" method="POST">
            <div class="form-group">
                <label for="globalTitle">Titre du croquis:</label>
                <input type="text" class="form-control" placeholder="Croquis sans titre" id="globalTitle" name="globalTitle" required>
            </div>
            <div class="list-group" id="config-list">
                <div class="list-group-item locked" id="adder"><button type="button" id="plot-adder" class="btn btn-light" onclick="addItem()"><b>.csv</b></button></div>
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Générer !">
        </form>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
    <script src="static/graph_configurator.js"></script>
</html>
