<!DOCTYPE html>
<html>
  
<head>
  <link rel="stylesheet" href="static/style.css">
</head>
  
<body>
    <form id="colour">
      <input type="radio" id="pink" name="pink" value="Pink">
      <label for="pink">Pink</label><br>
      <input type="radio" id="green" name="green" value="Green">
      <label for="green">Green</label><br>
      <input type="radio" id="blue" name="blue" value="Blue">
      <label for="blue">Blue</label>
        <button>
          bon
        </button>
    </form>
  hello
</body>